html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 80vh;
  border-radius: 1.25rem;
  overflow: scroll;
  width: 45vh;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app__videos {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-height: 750px) {
  html {
    font-size: 0.75rem;
  }
}

@media (max-height: 600px) {
  html {
    font-size: 0.6rem;
  }
}

@media (max-height: 450px) {
  html {
    font-size: 0.5rem;
  }
}
